<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oxy.kshop.mapper.OrderRepository">
    <resultMap type="oxy.kshop.model.entity.OrderDO" id="OrderResult">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="SkuId" column="sku_id"/>
        <result property="status" column="status"/>
        <result property="count" column="count"/>
    </resultMap>

    <select id="oxy.kshop.mapper.OrderRepository.selectCartByUserId"
            resultMap="OrderResult">
        SELECT *
        FROM kshop_order
        WHERE user_id = #{id}
          AND status = 0
        LIMIT #{page}, #{size}
    </select>

    <select id="oxy.kshop.mapper.OrderRepository.selectCartSizeByUserId"
            resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM kshop_order
        WHERE user_id = #{id}
          AND status = 0
    </select>

    <insert id="oxy.kshop.mapper.OrderRepository.save"
            parameterType="oxy.kshop.model.entity.OrderDO"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO kshop_order(user_id, sku_id, status, count)
        VALUES (#{userId}, #{skuId}, #{status}, #{count})
    </insert>

    <select id="oxy.kshop.mapper.OrderRepository.selectCartByOrderId"
            resultMap="OrderResult">
        SELECT *
        FROM kshop_order
        WHERE id = #{orderId}
          AND status = 0
    </select>

    <select id="oxy.kshop.mapper.OrderRepository.selectCartByUserIdAndSkuId"
            resultMap="OrderResult">
        SELECT *
        FROM kshop_order
        WHERE user_id = #{userId}
          AND sku_id = #{skuId}
          AND status = 0
    </select>

    <update id="oxy.kshop.mapper.OrderRepository.updateOrderStatusByOrderId">
        UPDATE kshop_order
        SET status = #{status}
        WHERE id = #{orderId}
    </update>

    <update id="oxy.kshop.mapper.OrderRepository.updateOrderCountByOrderId">
        UPDATE kshop_order
        SET count = #{count}
        WHERE id = #{orderId}
    </update>

    <delete id="oxy.kshop.mapper.OrderRepository.deleteCartByOrderId">
        DELETE
        FROM kshop_order
        WHERE id = #{id}
    </delete>

    <select id="oxy.kshop.mapper.OrderRepository.selectAllByUserId"
            resultMap="OrderResult">
        SELECT *
        FROM kshop_order
        WHERE user_id = #{userId}
        LIMIT #{page}, #{size}
    </select>

    <select id="oxy.kshop.mapper.OrderRepository.selectAllByUserIdAndStatus"
            resultMap="OrderResult">
        SELECT *
        FROM kshop_order
        WHERE user_id = #{userId}
          AND status = #{status}
        LIMIT #{page}, #{size}
    </select>

    <select id="oxy.kshop.mapper.OrderRepository.selectOrderByOrderId"
            resultMap="OrderResult">
        SELECT *
        FROM kshop_order
        WHERE id = #{orderId}
    </select>

    <select id="oxy.kshop.mapper.OrderRepository.countOrderByUserId"
            resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM kshop_order
        WHERE user_id = #{id}
    </select>

    <select id="oxy.kshop.mapper.OrderRepository.countOrderByUserIdAndStatus"
            resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM kshop_order
        WHERE user_id = #{id}
          AND status = #{status}
    </select>
</mapper>