<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oxy.kshop.mapper.SkuRepository">
    <resultMap type="oxy.kshop.model.vo.SkuVO" id="SkuVOResult">
        <id property="id" column="id"/>
        <result property="stock" column="stock"/>
        <result property="price" column="price"/>
        <result property="type" column="type"/>
        <result property="picture" column="picture"/>
    </resultMap>

    <select id="oxy.kshop.mapper.SkuRepository.selectAllSkuByProductId"
            parameterType="java.lang.Long" resultMap="SkuVOResult">
        SELECT *
        FROM kshop_sku
        WHERE product_id = #{id}
    </select>

    <select id="oxy.kshop.mapper.SkuRepository.selectSkuBySkuId"
            parameterType="java.lang.Long" resultMap="SkuVOResult">
        SELECT *
        FROM kshop_sku
        WHERE id = #{id}
    </select>

    <select id="oxy.kshop.mapper.SkuRepository.selectProductNameBySkuId"
            resultType="java.lang.String" parameterType="java.lang.Long">
        SELECT DISTINCT p.name
        FROM kshop_product as p,
            kshop_sku as s
        WHERE p.id = s.product_id
    </select>

</mapper>