<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oxy.kshop.mapper.UserRepository">
    <resultMap type="oxy.kshop.entity.User" id="UserResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="createDate" column="gmt_create" />
        <result property="modifiedDate" column="gmt_modified" />
    </resultMap>

    <insert id="oxy.kshop.mapper.UserRepository.save" parameterType="oxy.kshop.entity.User">
        insert into kshop_user(name, password, email, gmt_create, gmt_modified)
        values (#{name}, #{password}, #{email}, #{createDate}, #{modifiedDate})
    </insert>

    <select id="oxy.kshop.mapper.UserRepository.find" resultMap="UserResult" parameterType="Map">
        SELECT id, name, password, email, gmt_create, gmt_modified FROM kshop_user
        <where>
            <if test="name!=null and name!='' ">
                AND name LIKE #{name}
            </if>
            <if test="email!=null and email!='' ">
                AND email = #{email}
            </if>
            <if test="id!=null and id!='' ">
                AND id = #{id}
            </if>
        </where> 
    </select>
</mapper>